html,body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.tbl-active-notes {
  display: flex;
  justify-content: center;
}

table {
  table-layout: fixed;
  width: 1090px;
}

table,
table th,td {
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-collapse: collapse;
  vertical-align: middle;
}

table tr {
  height: 55px;
}

thead {
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.text-truncation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

th {
  color: #fff;
  font-weight: 500;
  background: gray;
}

td {
  background: #e5e6f0;
  margin: 5px 0;
}

td,th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.main-page {
  background: #edeff1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-page-row {
  height: 100%;
  padding: 20px;
}

.notes-container {
  background: #FFFFFF;
  padding: 20px 20px;
}


button {
  border: none;
  outline: none;
  border-radius: 8px;
}

.btn {
  margin: 10px 0;
  padding: 10px 40px;
  font-weight: 700;
  display: flex;
  justify-content: right;
}

.tbl-icon {
  width: 35px;
  height: 35px;
}

.modal-field-input {
  border: 1px solid #005BBB;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  padding: 4px 8px;
}

.input-error {
  border: 1px solid red;
}

.input-success {
  border: 1px solid #005BBB;
}

label.modal-field-err {
  color: red;
  font-size: 0.8rem;
}

/*
.hide {
  display: none;
}
*/


.modal-bgd {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(27 29 31 / 70%);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;

  transition: all 0.3s ease-in-out;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}

.modal-form-container {
  background: #fff;
  padding: 32px 92px 60px 92px;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: #1B1D1F;
  cursor: pointer;
  border: 0;
  background: none;
}

.modal-form-title{
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  margin: 32px 0 12px 0;
}

.modal-form-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 24px;
}

.modal-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

/*
.dates:invalid {
  border: 2px solid red;
  content: "✖";
  color: red;
}

.dates:valid {
  content: "✓";
  color: green;  
}
*/
